<template>
  <button @click="command(title)">{{title}}</button>
</template>

<script>

export default {
  name: 'Button',
  props: {
    title: {
      type: String,
      required: false,
    },
    command: {
      type: Function,
      required: false,
    }
  } 
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main";
button{
    width: vw(76);
    height: vw(71);

    background: #FFFFFF;

    color: #000;
    font-size: vw(40);
    font-family: IBM Plex Mono;

    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 15px;

    &:hover{
      background: #e3ffd9;
    }
}
</style>
