<template>
    <div class="calculator-frame">
        <div class="display"><span>{{display}}</span></div>
        <div class="button-panel">
            <Button v-for="(item,i) in panelItems" :key="`item${i}`" :title="item.title" :command="item.command"></Button>
        </div>
    </div>
</template>

<script>
import Button from './Button.vue';
export default {
    name: "Calculator",
    components: { Button },
    data(){
        return{
            display: "0",
            operator: null,
            firstNumber: 0,
            secondNumber: 0,
            clearDisplayNext: false,
            panelItems:[
                {title:"C",command:this.clearDisplay}, {title:"%",command:this.percentage},{title:"<",command:this.backspace},{title:"÷",command:this.applyOperator},
                {title:"7",command:this.addNumber}, {title:"8",command:this.addNumber},{title:"9",command:this.addNumber},{title:"×",command:this.applyOperator},
                {title:"4",command:this.addNumber}, {title:"5",command:this.addNumber},{title:"6",command:this.addNumber},{title:"-",command:this.applyOperator},
                {title:"1",command:this.addNumber}, {title:"2",command:this.addNumber},{title:"3",command:this.addNumber},{title:"+",command:this.applyOperator},
                {title:"00",command:this.addNumber}, {title:"0",command:this.addNumber},{title:".",command:this.addNumber},{title:"=",command:this.calculate},
            ]
        }
    },
    methods:{
        clearDisplay(){
            this.display = 0;
            this.clearDisplayNext = false;
        },
        addNumber(char){
            if (this.clearDisplayNext) {
                this.clearDisplay();
            }

            if (char == "." && (this.display + "").includes(".") || this.display.length >= 8 || char == "00" && this.display.length >= 7) {
                return;
            }
            if (this.display == "0" && char != "." || char == "-") {
                this.display = char;
            } else {
                this.display += char;
            }
        },
        backspace(){
            if (this.clearDisplayNext) {
                this.clearDisplay();
            }

            this.display = (this.display + "").slice(0, -1);

            if ((this.display + "").length === 0 || this.display == "-") {
                this.clearDisplay();
            }
        },
        percentage(){
            const currentNumber = parseFloat(this.display);
            if(currentNumber !== "0" && ((currentNumber / 100) +"").length <= 8){
                this.display = currentNumber / 100;
            }
        },
        applyOperator(operator) {
            this.operator = null;
            const operatorExist = this.operator !== null;
            const currentNumber = parseFloat(this.display);

            if (this.display == "0" && operator == "-"){
                this.addNumber("-");
            }else if(this.display == "-"){
                this.firstNumber = 0;
                this.clearDisplay();
            }else if(!operatorExist) {
                this.clearDisplay();
                this.firstNumber = currentNumber;
                this.operator = operator;
            }
            else {
                this.secondNumber = currentNumber;
                this.calculate();
                this.operator = operator;
                this.clearDisplayNext = true;
            }
        },
        calculate(){
            let answer;
            const currentNumber = parseFloat(this.display);
            this.secondNumber = currentNumber
            if (this.clearDisplayNext) {
                this.clearDisplay();
            }
            if (this.operator === null) {
                this.operator = "+";
            }
            switch (this.operator) {
                case "+":
                    answer = this.firstNumber + this.secondNumber;
                    break;
                case "-":
                    answer = this.firstNumber - this.secondNumber;
                    break;
                case "×":
                    answer = this.firstNumber * this.secondNumber;
                    break;
                case "÷":
                    answer = this.firstNumber / this.secondNumber;
                    break;
            }
            if (answer !== 0 && !parseFloat(answer) || (answer + "").length > 8) {
                if((answer.toFixed(2) + "").length <= 8){
                    this.display = answer.toFixed(2);
                    this.clearDisplayNext = true;
                    this.operator = null;
                }
                else
                    this.display = "SpL";
                    this.clearDisplayNext = true;
            }
            else{
                this.display = answer;
                this.clearDisplayNext = true;
                this.operator = null;
                
            }
        },

    }
}
</script>

<style scoped lang="scss">
@import "@/assets/styles/main";

.calculator-frame{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: vw(380);
    height: vw(636);

    margin: vw(200) auto;

    font-family: IBM Plex Mono;

    box-sizing: border-box;
    border: 1px solid #000000;
    box-shadow: -6px 6px 4px rgba(13, 88, 6, 0.25);
    border-radius: 25px;
}
.display{
    position: relative;
    width: vw(330);
    height: vw(100);

    margin-top: vw(65);

    font-size: vw(64);
    color: #084022;

    background: #ACD09F;
    border-radius: 15px;
    span{
        position: absolute;
        right:0;
        bottom:0;
    }
}
.button-panel{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: vw(15);
    grid-column-gap: vw(9);

    width: vw(330);
    height: vw(415);
    margin-top:vw(44);

}
</style>
