@import "@/assets/styles/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@function vw($size){
  $result: calc($size/1920) * 100rem;
  @return $result
};

body, html {
  width: 100%;
  height: 100%;
  font-family: IBM Plex Mono;
}
html {
  font-size: 1vw;
}
.flex {
  display: flex;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
